header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
}
.topmenu li a:hover { color: #D5B45B; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  font-family: Hack, monospace;
}

button {
  font-family: 'Cabin', sans-serif;
  font-family: 'Roboto Mono', monospace;
}


h1 {
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: bold;
}

.person_name {
  color: goldenrod;
}

.person_description {
  color: violet;
}

.person_anecdote {
  color: rebeccapurple;
}

.person_image {
  height: 200px;
}

.button-form {
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.button-container {
    float: right;
}

.button-item {
    background-color: none;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.button-container button {
    background-color: green;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    opacity: 0.5;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-container button:hover {
    opacity: 1;
}

.logo {
    height: 200px;
}

.footer_logo {
    height: 80px;
}

.welcome_logo {
    height: 400px;
}

.submit_button{
    background: url("https://media.tenor.com/buyVcW71leUAAAAM/old-man-staring.gif") no-repeat 0 0;
    height: 260px;
    width: 200px;
}

.submit_button:hover, .button.some_class{
    background: url("https://media.tenor.com/buyVcW71leUAAAAM/old-man-staring.gif") no-repeat 0 0;
}

.submit_button input[type="button"]{
    opacity: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}
.flashes {
  list-style-type: none;
}

.gallery_image {
  width: 100%;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: #666;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Cabin', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  text-align:left;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.nav__title {
  font-weight: bold;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  font-family: 'Cabin', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.footer a {
  text-decoration: none;
  font-weight: 400px;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

 /* Input Part */

input {
    padding: 7px 15px;
    margin: 8px 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius:100px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.input_div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
